@import "mixins";

@include font-face('Ruslan Display', url("../fonts/Ruslan_Display/RuslanDisplay.ttf"));

/* fix browser defaults */
*{margin:0px;padding:0px;}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;

  @include webkit_reset();
}

body {
  font-size: 2vh;
  color: #fff;
  background-color: #000;
  text-align: center;
	/*overflow: hidden;*/
	margin: 0 0;
  height: 100vh;
}

hr {
  width: 50%;
  border: 0;
  height: 0.11vh;
  @include hr_gradient();
}

p {
  display: block;
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

a {
  color: white;
  /* unvisited link */
  &:link {
    color: black;
    text-decoration: none;
  }

  /* visited link */
  &:visited {
    color: black;
    text-decoration: none;
  }

  /* mouse over link */
  &:hover {
    color: white;
    text-decoration: none;
  }

  /* selected link */
  &:active {
    color: transparent;
    text-decoration: none;
    outline: none;
  }

  /* Remove moz dashed rect */
  &:focus, &:active, 
  button::-moz-focus-inner,
  &::-moz-focus-inner,
  input::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  select::-moz-focus-inner,
  input[type="file"] > input[type="button"]::-moz-focus-inner {
   border: 0;
   outline: 0;
  }  
}

/* Remove moz dashed rect */
button::-moz-focus-inner {
  border: 0;
}

/* Vertical center all in main */
.main {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow:hidden;
}

header {
  h1 {
    font-family: 'Ruslan Display';
    font-size: 7vh;
    font-weight: normal;
    @include webkit_reset();
  }
  
  height: 7vh;
}

footer {
  font-family: 'Ruslan Display';
  font-size: 3vh;
}

.content {
  font-size: 2.0vh;
  color: #000;
	text-align: center;
	display: inline-block;
  width: 100vw;

  .turnaround-container {
    display: block;
    margin: 0 auto;
    height: 50vh;
    width: 50vh;
    
    &:hover .turnaround, .hover .turnaround { 
      transform: rotateY(180deg);
    }

    .turnaround {
      position: relative;

      width: 100%;
      height: 100%;

      backface-visibility: hidden;
      transition: .5s;
      transform-style: preserve-3d;

      .front { 
        @include background_url('../img/logo.svg');
      }
      .back { 
        @include background_url('../img/spot.svg');
        transform: rotateY(180deg);
        
        span {
          display: block;
          vertical-align: middle;
          line-height: normal;
          padding-top:45%;
        }
        
        button {
          position: absolute;
          width: 100%;
          height: 100%;
          border: none;
          display: block;
          vertical-align: middle;
          @include background_url('../img/play.svg');
          background-size: 7.5vh 7.5vh;          
        }
      }

      .front,
      .back {
        position: absolute;
        top:0;
        backface-visibility: hidden;
        text-align: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.blur_header { 
  @include blur_helper(0.175vh,0.125vh);
}

.blur_logo {
  @include blur_helper(0.3vh,0.225vh);
}

.blur_info {
  @include blur_helper(0.1vh,0.05vh);
}

.blur_footer {
  @include blur_helper(0.175vh,0.125vh);
}

.shadow_head {
  text-shadow: 0 0 1vh #fff, 0 0 2vh #fff, 0 0 3vh #fff, 0 0 4vh #FFD700, 0 0 7vh #FFD700, 0 0 8vh #FFD700, 0 0 10vh #FFD700, 0 0 15vh #FFD700;
  -webkit-font-smoothing: antialiased;
}

.shadow_foot {
  text-shadow: 0 0 0.5vh #fff, 0 0 1vh #fff, 0 0 1.5vh #fff, 0 0 2vh #FFD700, 0 0 3.5vh #FFD700, 0 0 4vh #FFD700, 0 0 5vh #FFD700, 0 0 7.5vh #FFD700;
  -webkit-font-smoothing: antialiased;
}

