html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

body {
  color: #FFF;
  background-color: #000;
  text-align: center;
  font-size: 2em;
}

.header {
  font-size: 1.1em;
  margin: 0em 0;
}

.logosvg {
  margin-top: -1.0em;
  width: 8em;
}

.footer {
  font-size: 0.6em;
  margin-top: -2.15em;
}

.blur {
  /* ^ for Firefox */
  -webkit-filter: blur(1px);  
  /* ^ Webkit browsers */
  filter: blur(1px);  
}
