html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
	overflow: hidden;
}

body {
  color: #000;
  background-color: #000;
  text-align: center;
  font-size: 2em;
  height: 100%;
  width: 100%;
	overflow: hidden;
	margin: 0 0;
}

.main {
  display: block;
	width: 100%;
	height: 100%;
	margin: auto;
	z-index: 0;
}

.header {
  font-size: 7.5vh;
  margin-top: 5vh;
  z-index: 10;
}

.footer {
  font-size: 3vh;
  margin-top: 0vh;
  z-index: 10;
}

.blur_head {
  /* ^ for Firefox */
  -webkit-filter: blur(0.1vh);  
  /* ^ Webkit browsers */
  filter: blur(0.1vh);  
}

.blur_foot {
  /* ^ for Firefox */
  -webkit-filter: blur(0.04vh);  
  /* ^ Webkit browsers */
  filter: blur(0.04vh);  
}

.shadow_head {
  text-shadow: 0 0 1vh #fff, 0 0 2vh #fff, 0 0 3vh #fff, 0 0 4vh #ff00de, 0 0 7vh #ff00de, 0 0 8vh #ff00de, 0 0 10vh #ff00de, 0 0 15vh #ff00de;
  -webkit-font-smoothing: antialiased;
}

.content {
  color: #333;
  height: 50vh;
  width: 50vh;
  margin-top: -5vh;
	perspective: 1500;
	text-align: center;
	position: relative;
	display: inline-block;
}

.content:hover .turnaround { 
  transform: rotateY(180deg);
}
.content .front { 
  background: url(logo.svg);
  background-size: 50vh 50vh;
  background-repeat: no-repeat;
}
.content .back { 
  background: url(logo2.svg);
  background-size: 50vh 50vh;
  background-repeat: no-repeat; 
}

.turnaround {
  backface-visibility: hidden;
	transition: .5s;
	transform-style: preserve-3d;
	position: relative;
	height: 100%;
}

.front,
.back {
	backface-visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 3vh;
}
.front { 
  z-index: 2; 
}
.back {
	transform: rotateY(180deg);
	z-index: 1;
}

